<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journey.interview">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".InterviewApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerview.demo.EfficientAdapterActivity" />
        <activity android:name=".recyclerview.demo.ListActivity" />
        <activity android:name=".customizeview.swipecaptcha.demo.SwipeCaptchaActivity" />
        <activity android:name=".customizeview.spiderweb.demo.SpiderWebViewActivity"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.spiderweb.demo.MeiSpiderWebActivity2"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.CustomizeViewActivity" />
        <activity android:name=".customizeview.cornergif.CornersGifActivity"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.rounddragtag.demo.RandomDragTagActivity"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.zpwdeditext.ZEditTextActivity" />
        <activity android:name=".customizeview.datetimer.demo.DateTimerPickerActivity" />
        <activity android:name=".customizeview.cropimageview.demo.CropImageViewActivity2"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.scrollparallax.ScrollParallaxActivity"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.heartview.HeartActivity"
            android:theme="@style/SpiderTheme"/>
        <activity android:name=".customizeview.levelselectview.LevelSelectActivity"
            android:theme="@style/SpiderTheme"/>
    </application>

</manifest>